<!DOCTYPE html>
<html>
  <head>
    <title>PersonalFinanceHomepage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="gridContainer">
      <header>
        <!-- Header content -->
        <%= render "shared/header" %>
      </header>

      <nav>
        <!-- Navigation -->
        </nav>

        <main>
        <!-- Main content -->
        <%= yield %>
        </main>

      <aside>
        <!-- Sidebar / Ads -->
      </aside>

      <footer>
        <!-- Footer content -->
      </footer>
    </div>
  </body>
</html>
